*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  color: #fff;
  background-color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 40px;
}

h1{
  color: #1b1b32;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.app-chores{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.primary-list-chores{
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 26px;
}